@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@400;600&display=swap');

:root{
    --cor-primaria: #228B22;
    --cor-secundaria: #EEF2E6;
    --cor-terciaria: #539165;
    --cor-hover: #272727;

    --font-primaria: 'Krona One', sans-serif;
    --font-secundaria: 'Montserrat', sans-serif;

    --h1-font-size: 1.5rem;
    --h3-font-size: 1rem;

    --font-light: 300;
    --font-medium: 400;
    --font-bold: 600;

    --mb-1: 0.5rem;
    --mb-2: 1rem;
    --mb-3: 1.5rem;
    --mb-4: 2rem;
    --mb-5: 2.5rem;
    --mb-6: 3rem;
}

*{
    margin: 0;
    padding: 0;
}

header {
    background-color: var(--cor-secundaria);
    background-size: cover;
    padding: 10px 10px;
    color: aliceblue;
}

ul {
    list-style: none;
}

a {
    font-family: var(--font-secundaria);
    text-decoration: none;
}

.nav__link {
    font-family: var(--font-primaria);
    font-size: var(--h3-font-size);
    font-weight: var(--font-bold);
    color: var(--cor-primaria);
}

.nav__link:hover, .active-link {
    border-bottom: 1px solid var(--cor-terciaria);
}

.section__titulo__home{
    font-family: var(--font-primaria);
    color: var(--cor-secundaria);
    text-align: center;
} 

section{
    padding: 2%;
    float: left;
    text-align: justify;
}

.section__subtitulo__home{
    font-family: var(--font-secundaria);
    color: var(--cor-secundaria);
    text-align: center;
}

.section__titulo{
    font-family: var(--font-primaria);
    color: var(--cor-terciaria);
    font-size: var(--h1-font-size);
    font-weight: var(--font-medium);
    font-size: 1.2rem;
    text-align: center;
}

.section__subtitulo{
    font-family: var(--font-secundaria);
    font-size: var(--h3-font-size);
    font-size: var(--mb-2);
}

.section__subtitulo__sub{
    font-family: var(--font-secundaria);
    font-size: var(--h3-font-size);
    font-size: var(--mb-2);
}

.column__dois{
    float: left;
    padding: 0 5%;
    position: relative;
    width: 40%;
}

.column__tres{
    float: left;
    padding: 0 5%;
    position: relative;
    width: 22%;
}

.column__quatro{
    float: left;
    padding: 0 5%;
    position: relative;
    width: 15%;
}

.section__home{
    padding: 3%;
    float: none;
    background-color: var(--cor-primaria);
}

.section__sobre{
    background-color: var(--cor-secundaria);
    
}

.section__conceito{
    background-color: var(--cor-secundaria);
}

.section__objetivos{
    background-color: var(--cor-secundaria);
}


.section__extras{
    background-color: var(--cor-secundaria);

}

.section__texto{
    font-family: var(--font-secundaria);
}

.rodape{
    background-color: var(--cor-primaria);
    color: var(--cor-secundaria);
    font-family: var(--font-secundaria);
    text-align: center;
    width: auto;
    float: none;
    padding: 2%;
}

/*
.cabecalho{
    padding: 2% 8% 2% 8%;
}

.cabecalho__menu{
    max-width: 100%;
    height: var(--header-height);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 0;
    gap: 50px;
}

.cabecalho__menu__link{
    
    font-size: 1.5rem;
    font-weight: 600;
    color: #228B22;
    text-decoration: none;
}

.nav__list{
    margin: 0 var(--mb-2);
}

.nav__link {
    font-family: var(--font-secundaria);
    font-size: var(--h3-font-size);
    font-weight: var(--font-bold);
    color: #228B22;
    text-decoration: none;
}

.nav__link:hover, .active-link {
    padding-bottom: var(--mb-1);
    border-bottom: 1px solid var(---container-color);
}

.nav__toggle{
    font-size:var(--h1-font-size);
    color: #228B22;
    padding: 0.1rem 0.5rem;
    border: 1px solid #228B22;
    margin-right: var(--mb-2);
    border-radius: 6px;
    z-index: var(--Z-fixed);
}

.nav__toggle:hover {
    background-color: #228B22;
    color: #228B22;
}


@media (max-width: 960px){
    .cabecalho__menu {
        position: absolute;
        top: 0;
        right: 100%;
        width: 50%;
        height: 100%;
        text-align: right;
        padding: 0 2rem;
        background-color: #228B22;
        border-radius: 150px 0 0 0;
        box-shadow: -10px -8px 4px rgba(0, 0, 0, 0.1);
        z-index: var(--z-tooltip);
        transition: all 0.4s ease-in-out;
    }

    .cabecalho__menu .nav__item {
        margin-bottom: var(--mb-2);
    }
    
    .cabecalho__menu .nav__item:first-child {
        margin-top: 8rem;
    }

    .show-menu {
        right: 0;
    }
}

.apresentacao__home{
    width: 100%;
}

.apresentacao__home__fundo{
    background-color: #228B22;
    width: 100%;
    text-align: center;
    padding: 5%;
}

.apresentacao__home__fundo__titulo{
    color: #EEF2E6;
    font-size: 30px;
    font-family: var(--font-primaria);
}

.apresentacao__home__fundo__subtitulo{
    color: #EEF2E6;
    padding-left: 6%;
    padding-right: 6%;
    font-family: var(--font-secundaria);
}

.apresentacao__sobre{
    background-color: #EEF2E6;
    height: 100%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}

.apresentacao__sobre__subtitulo{
    color: #000000;
    padding-left: 6%;
    padding-right: 6%;
    font-family: var(--font-secundaria);
    font-weight: 600;
}

.apresentacao__sobre__coluna{
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.apresentacao__sobre__coluna__um{

}

.apresentacao__sobre__coluna__dois{
    
}

.apresentacao__sobre__coluna__dois__texto{
    font-family: var(--font-secundaria);
    text-align: justify;
}

.apresentacao__conceito{
    background-color: #EEF2E6;
    height: 100%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}

.apresentacao__conceito__subtitulo{
    color: #000000;
    padding-left: 6%;
    padding-right: 6%;
    font-family: var(--font-secundaria);
    font-weight: 600;
}

.apresentacao__conceito__coluna__um__texto{
    font-family: var(--font-secundaria);
    text-align: justify;
}

.rodape{
    background-color: #228B22;
    color: aliceblue;
    font-family: var(--font-secundaria);
    text-align: center;
    width: auto;
    padding: 2%;
}
*/
