@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@400;600&display=swap');

:root{
    --cor-primaria: #228B22;
    --cor-secundaria: #EEF2E6;
    --cor-terciaria: #539165;

    --font-primaria: 'Krona One', sans-serif;
    --font-secundaria: 'Montserrat', sans-serif;

    --h1-font-size: 1.5rem;
    --h3-font-size: 1rem;

    --font-medium: 400;
    --font-bold: 600;
}

*{
    margin: 0;
    padding: 0;
}

header {
    background-color: var(--cor-secundaria);
    padding: 2% 6%;
    color: var(--cor-secundaria);
}

ul {
    list-style: none;
}

a {
    font-family: var(--font-secundaria);
    color: var(--cor-primaria);
    text-decoration: none;
}

.nav__link {
    font-family: var(--font-primaria);
    font-size: var(--h3-font-size);
    font-weight: var(--font-bold);
    color: var(--cor-primaria);
    float: left;
    padding: 0 2% 0 2%;
}

.nav__link:hover, .active-link {
    border-bottom: 1.5px solid var(--cor-terciaria);
}

.section__titulo__home{
    font-family: var(--font-primaria);
    color: var(--cor-secundaria);
    text-align: center;
} 

section{
    padding: 2%;
    float: left;
    text-align: justify;
}

.section__subtitulo__home{
    font-family: var(--font-secundaria);
    color: var(--cor-secundaria);
    text-align: center;
}

.section__titulo{
    font-family: var(--font-primaria);
    color: var(--cor-terciaria);
    font-weight: var(--font-medium);
    font-size: 1.2rem;
    text-align: center;
}

.section__subtitulo{
    font-family: var(--font-secundaria);
    font-size: var(--h3-font-size);
}

.section__subtitulo__sub{
    font-family: var(--font-secundaria);
    font-size: var(--h3-font-size);
}

.section_img{
    text-align: center;
    display: block;
}

.column__dois{
    float: left;
    padding: 0 5%;
    position: relative;
    width: 40%;
}

.column__tres{
    float: left;
    padding: 0 5%;
    position: relative;
    width: 22%;
}

.column__tres__link{
    float: left;
    text-align: center;
    padding: 0 5%;
    position: relative;
    width: 23%;
}

.column__quatro{
    float: left;
    padding: 0 4%;
    position: relative;
    width: 15%;
}

.section__home{
    padding: 3%;
    float: none;
    background-color: var(--cor-primaria);
}

.section__sobre, .section__conceito, .section__objetivos, .section__extras{
    background-color: var(--cor-secundaria);
}

.section__texto{
    font-family: var(--font-secundaria);
    text-indent: 3em;
    line-height: 1.5;
}

.rodape{
    background-color: var(--cor-primaria);
    color: var(--cor-secundaria);
    font-family: var(--font-secundaria);
    font-size: var(--h3-font-size);
    text-align: center;
    width: auto;
    float: none;
    padding: 1%;
}
/*1250px*/
@media all and (max-width: 1250px){
    header {
        background-color: var(--cor-secundaria);
        background-size: cover;
        padding: 4% 6%;
        color: aliceblue;
    }

    .nav__link {
        font-family: var(--font-primaria);
        font-size: var(--h3-font-size);
        font-weight: var(--font-bold);
        color: var(--cor-primaria);
        float: left;
        padding: 1% 2% 0 1%;
    }
    
    .column__dois, .column__tres, .column__tres__link, .column__quatro{
        display: block;
        width: 80%;
        padding: 0;
        margin: 2% auto;
        float: none;
    }
}
/*1000px*/
@media all and (max-width: 1000px){
    header {
        background-color: var(--cor-secundaria);
        background-size: cover;
        padding: 6% 6%;
        color: aliceblue;
    }

    .nav__link {
        font-family: var(--font-primaria);
        font-size: 0.7rem;
        font-weight: var(--font-bold);
        color: var(--cor-primaria);
        float: left;
        padding: 1% 2% 0 1%;
    }
}

/*430px*/
@media all and (max-width: 430px){
    header {
        background-color: var(--cor-secundaria);
        background-size: cover;
        padding: 8% 6%;
        color: aliceblue;
    }

    .nav__link {
        font-family: var(--font-primaria);
        font-size: 0.5rem;
        font-weight: var(--font-bold);
        color: var(--cor-primaria);
        float: left;
        padding: 1% 2% 0 1%;
    }
}

/*305px*/
@media all and (max-width: 305px){
    header {
        background-color: var(--cor-secundaria);
        background-size: cover;
        padding: 10% 6%;
        color: aliceblue;
    }

    .nav__link {
        font-family: var(--font-primaria);
        font-size: 0.3rem;
        font-weight: var(--font-bold);
        color: var(--cor-primaria);
        float: left;
        padding: 1% 2% 0 1%;
    }
}